---
---

@charset "UTF-8";


$back:#fff;
$text:#555;
$links:#af101c;

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/JosefinSans-Light.ttf");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/JosefinSans-LightItalic.ttf");
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/JosefinSans-Regular.ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/JosefinSans-Italic.ttf");
    font-weight: normal;
    font-style: italic
}

@font-face { 
    font-family: icomoon; 
    src: url("fonts/icomoon.woff");}

html {
 background:$back;
 overflow-x: hidden;}

body {
 font-family:JosefinSans, serif;
 font-size:1.5em;
 text-align:left;
 margin:0;
 padding:0;
 color:$text;
 hyphens:auto;
 font-feature-settings:"liga","dlig";
 overflow-x:hidden;
 background:url(images/sunset.jpeg) 50% top / cover no-repeat fixed rebeccapurple;}

h1 {
 font-size:4em;
 color: $back;
 text-shadow: 0 0 0.5em black;}

header {
 height:40vh;
 padding:1em;}

nav a {
 text-decoration:none;}
 
nav, section, footer {
 background:$back;
 padding:1em 3em;}

ul li {
 display: inline-block;
 width:30%;
 margin:0;
 padding:0;
 text-align:center;}

footer {
 font-size:0.5em;
 text-align:center;
 padding:1em 6em;}

a {
 color:$links;
 font-weight:bold;
 &:visited {
  color:darken($links,13%);}
 h1 & {
  color:$text;}
 h1 &:visited {
  color:$text;}}

@media only screen and (min-width:60rem) {
 header,nav,section,footer {
  width:54rem;
  margin:0 auto;}
 footer{
  margin-bottom:100vh;}}

@media only screen and (max-width:40em) {
 body {
  font-size:1em;}
 nav {
  position:absolute;
  bottom:0;
  width:100vw;
  padding:0}
 nav ul li{
  font-family:icomoon;
  font-size:1.5em;
  font-weight: normal;
  width:28%}}