<!DOCTYPE html>
<meta charset="utf-8"/>

<html>
 <head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link rel="apple-touch-icon-precomposed" href="icon.jpeg" />
  <link rel="icon" href="icon.jpeg" />
  <meta name="viewport" content="initial-scale=1.0; width = device-width;" />
 </head>
 <body id="target">

  <header>

    <h1>{{page.title}}</h1>

  </header>

  <nav>
    <ul>
     <li><a href="index.html">The Island</a></li>
     <li><a href="accomodation.html">Places to Stay</a></li>
     <li><a href="gallery.html">The View</a></li>
     <li><a href="corncrake.html">Island News</a></li>
    </ul>
  </nav>

  <section>


    {{content}}

  </section>

  <footer>
   <p>© CCDC, 2017. Page design by <a href="https://d.mcni.ch">DieM</a></p>
  </footer>

  <script type="text/javascript" src="assets/hours.js"></script>

 </body>
</html>
